<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.back.court.dao.CourtDAO">
	
	<select id="list" resultType="com.back.court.dto.CourtDTO">
		
		
		SELECT
			(SELECT ci.file_name 
			FROM court_image ci 
		 	WHERE ci.court_idx = c.court_idx 
		 	ORDER BY ci.photo_idx ASC 
		 	LIMIT 1) AS first_img_name
		   	, c.court_name
		  	,c.court_address
		  	,c.court_info
		  	,c.court_price
		  	,c.court_state
		  	,c.court_official
		  	,(SELECT COUNT(j.court_idx)
			from jjim j 
			where j.court_idx = c.court_idx
			and j.id = 'admin') as jjim
			,c.court_idx
		FROM court c 
		WHERE c.court_state = 'true' 
		AND c.court_official = 'false'
		ORDER BY court_address asc LIMIT #{param1}, 10
	
	</select>
	
	<select id="addressSearchList" resultType="com.back.court.dto.CourtDTO">
		
		
		SELECT
			(SELECT ci.file_name 
			FROM court_image ci 
		 	WHERE ci.court_idx = c.court_idx 
		 	ORDER BY ci.photo_idx ASC 
		 	LIMIT 1) AS first_img_name
		   	, c.court_name
		  	,c.court_address
		  	,c.court_info
		  	,c.court_price
		  	,c.court_state
		  	,c.court_official
		  	,(SELECT COUNT(j.court_idx)
			from jjim j 
			where j.court_idx = c.court_idx
			and j.id = 'admin') as jjim
			,c.court_idx
		FROM court c 
		WHERE c.court_state = 'true' 
		AND c.court_official = 'false'
		AND c.court_address LIKE CONCAT('%', #{param1}, '%')
		ORDER BY court_address asc LIMIT #{param2}, 10
	</select>
	
	
	<select id="nameSearchList" resultType="com.back.court.dto.CourtDTO">
		
		
		SELECT
			(SELECT ci.file_name 
			FROM court_image ci 
		 	WHERE ci.court_idx = c.court_idx 
		 	ORDER BY ci.photo_idx ASC 
		 	LIMIT 1) AS first_img_name
		   	, c.court_name
		  	,c.court_address
		  	,c.court_info
		  	,c.court_price
		  	,c.court_state
		  	,c.court_official
		  	,(SELECT COUNT(j.court_idx)
			from jjim j 
			where j.court_idx = c.court_idx
			and j.id = 'admin') as jjim
			,c.court_idx
		FROM court c 
		WHERE c.court_state = 'true' 
		AND c.court_official = 'false'
		AND c.court_name LIKE CONCAT('%', #{param1}, '%')
		ORDER BY court_address asc LIMIT #{param2}, 10
	</select>
	
	<select id="listFilterAddress" resultType="com.back.court.dto.CourtDTO">
		
		
		SELECT
			(SELECT ci.file_name 
			FROM court_image ci 
		 	WHERE ci.court_idx = c.court_idx 
		 	ORDER BY ci.photo_idx ASC 
		 	LIMIT 1) AS first_img_name
		   	, c.court_name
		  	,c.court_address
		  	,c.court_info
		  	,c.court_price
		  	,c.court_state
		  	,c.court_official
		  	,(SELECT COUNT(j.court_idx)
			from jjim j 
			where j.court_idx = c.court_idx
			and j.id = 'admin') as jjim
			,c.court_idx
		FROM court c 
		WHERE c.court_state = 'true' 
		AND c.court_official = 'false'
		AND c.court_address LIKE CONCAT('%', #{param2}, '%')
		ORDER BY court_address asc LIMIT #{param1}, 10
	</select>
	
	<select id="allList" resultType="com.back.court.dto.CourtDTO">
		
		
		SELECT
			(SELECT ci.file_name 
			FROM court_image ci 
		 	WHERE ci.court_idx = c.court_idx 
		 	ORDER BY ci.photo_idx ASC 
		 	LIMIT 1) AS first_img_name
		   	, c.court_name
		  	,c.court_address
		  	,c.court_info
		  	,c.court_price
		  	,c.court_state
		  	,c.court_official
		  	,(SELECT COUNT(j.court_idx)
			from jjim j 
			where j.court_idx = c.court_idx
			and j.id = 'admin') as jjim
			,c.court_idx
		FROM court c 
		WHERE c.court_state = 'true' 
		AND c.court_official = 'false'
		
	</select>
	
	<select id="allCourtCount" resultType="int">
	
		SELECT COUNT(court_idx) AS totalPage
		FROM court 
	
	</select>
	
	
	<select id="addressFilteringCourtCount" resultType="int">
	
		SELECT COUNT(court_idx) AS totalPage 
		FROM court 
		WHERE court_address LIKE CONCAT('%', #{param1}, '%')
	
	</select>
	
	<select id="nameFilteringCourtCount" resultType="int">
	
		SELECT COUNT(court_idx) AS totalPage 
		FROM court 
		WHERE court_name LIKE CONCAT('%', #{param1}, '%')
	
	</select>
	
	<insert id="jjim">
	
		INSERT INTO 
		jjim(id,court_idx)
		values(#{param1},#{param2})
		
	</insert>

	<delete id="jjimRemove">
		
		DELETE FROM jjim
		WHERE id = #{param1} AND court_idx = #{param2}
	
	</delete>

</mapper>