<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.back.admin.dao.AdminWriteDAO">

	<select id="callCourtList" resultType="com.back.admin.dto.AdminCourtDTO">
	
		SELECT
			court_name AS courtName
			,court_address AS courtAddress
			,court_idx AS courtIdx
		FROM court 
		WHERE court_state = 'true'
		AND court_official = 'true'
		
	</select>
</mapper>
