<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.back.admin.dao.AdminWriteDAO">

	<select id="callCourtList" resultType="com.back.admin.dto.AdminCourtDTO">
	
		SELECT
			court_name AS courtName
			,court_address AS courtAddress
			,court_idx AS courtIdx
		FROM court 
		WHERE court_state = 'true'
		AND court_official = 'true'
		
	</select>
	
	<!-- match_list -->
	
	<!-- list -->
	<select id="officialList" resultType="com.back.admin.dto.AdminWriteDTO">
		SELECT
		   	official_match_idx
		  	,official_match_date
		  	,(SELECT court_address FROM court c WHERE c.court_idx = o.court_idx) AS court_address
		  	,official_match_level
		  	,(SELECT count(official_match_idx) FROM offcial_match_ask_list f 
		  	WHERE f.official_match_idx = o.official_match_idx) AS currentCount
		  	,official_match_to
		  	,official_match_post_state
			FROM official_match o
			JOIN court t
			ON o.court_idx = t.court_idx
		WHERE t.court_state = 'true'
	</select>	
	
</mapper>






















