
/**/
.content{width:1280px;margin:0 auto;padding:30px 0;}

/* 필터 */
.filterCont{}
.filterCont select{}
.filterCont select option{}

/* 테이블 */
.table{margin:20px 0 50px;border:1px solid #000;}
.table tr td,th{border:1px solid #000;line-height:50px;text-align:center;}
.table table{width:100%;}
.table tr{}
.table tr th{}
.table tr td{}
.table tr td a{display:block;color:blue;}

.table tr .num{}
.table tr .gameDate{}
.table tr .address{}
.table tr .address:hover{background:skyblue;}
.table tr .level{}

.table tr td span{}
.table tr td .present{}
.table tr td .Recruitment{}
.table tr .state{}
.table tr .state.finish{}

/* 검색 */
.searchBox{text-align:center;}
.searchBox input{}
.searchBox button{}