<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.back.mypage.dao.MypageDAO">

	<insert id="report" parameterType="map">
	INSERT INTO report (id, report_tit, report_content, report_write_idx, report_write_type)
		VALUES (#{id},#{report_tit}, #{report_content}, #{report_write_idx}, #{report_write_type})
	</insert>
	
	<select id="jjimList" resultType="com.back.mypage.dto.MypageDTO">
		SELECT
			j.like_idx AS jjimIdx
			, c.court_name AS courtName
			, c.court_address AS courtAddress
			, c.court_price AS courtPrice
		FROM jjim j 
		JOIN court c 
		ON j.court_idx = c.court_idx 
		WHERE j.id = #{param1}
	</select>
	
	<select id="jjimListCount" resultType="int">
		SELECT
			COUNT(j.like_idx) AS jjimIdx
		FROM jjim j 
		JOIN court c 
		ON j.court_idx = c.court_idx 
		WHERE j.id = #{param1}
	</select>
	
	<delete id="jjimDel">
		
		DELETE FROM jjim
		WHERE like_idx = #{param1}
	
	</delete>

<!-- ============ 포인트 관련 쿼리 =============== -->

<select id="point_list" resultType="com.back.mypage.dto.MypageDTO">
	SELECT point_idx, point_date, point_change, point_state FROM point_list where id = #{param1}
</select>

<insert id="Charging_do"> 
	INSERT into point_list(id,point_change,point_state)values(#{param1},#{param2},"충전")
</insert>

<insert id="PointMinus"> 
	INSERT into point_list(id,point_change,point_state)values(#{param1},#{param2},"환급")
</insert>

<select id="point" resultType="String"> 
	SELECT 
		( (SELECT SUM(point_change) FROM point_list ps where id =#{param1} AND point_state ="충전") - 
		SUM(point_change) ) as point 
	FROM point_list pl where id=#{param1} AND point_state ="환급";
</select>

<select id="point_list_ajax" resultType="com.back.mypage.dto.MypageDTO">
	SELECT 
		point_idx
		,point_date
		,point_change
		,point_state 
	FROM point_list where id = #{param1} ORDER BY point_idx DESC LIMIT #{param2} OFFSET #{param3}
</select>

<select id="point_allConut" resultType="Integer">
	SELECT CEIL(COUNT(id)/#{param1}) AS pages FROM point_list where id = #{param2}
</select>

<update id="point_update">
	UPDATE member set point = (SELECT 
		(
		(SELECT SUM(point_change) FROM point_list ps where id =#{param1} AND point_state ="충전")-
		SUM(point_change)
		)
	FROM point_list pl where id=#{param1} AND point_state ="환급") where id=#{param1}
</update>


<!-- =========== 신청/예약 리스트 =====================  -->

<select id="match_ask_list_ajax" resultType="com.back.mypage.dto.MypageDTO">
SELECT om.official_match_idx
	   ,om.official_match_date
	   ,om.official_match_start_time
	   ,om.official_match_end_time
	   ,omal.official_match_idx
	   ,omal.official_match_ask_state
	   ,omal.id 
FROM official_match om
right outer join
offcial_match_ask_list omal on omal.official_match_idx = om.official_match_idx WHERE omal.id =#{param1}
ORDER BY om.official_match_date  DESC LIMIT #{param2} OFFSET #{param3}
</select>



</mapper>
