<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.back.teammate.dao.TeammateDAO">
	<select id="teamJoinList" resultType="com.back.teammate.dto.TeammateDTO">
	SELECT t.team_name, t.id, t.team_address, tj.join_team_level, tj.join_team_level
	FROM team t, team_join tj
	WHERE t.team_idx = tj.team_idx;
	</select>
	
	<select id="listFilterAddress" resultType="com.back.teammate.dto.TeammateDTO">
	SELECT t.logo ,t.team_name ,t.id ,t.team_address, tj.join_team_position, tj.join_team_level FROM team t ,team_join tj
	WHERE t.team_idx = tj.team_idx AND t.team_address LIKE CONCAT('%', #{param1}, '%');
	</select>

</mapper>


























