<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.back.guest.dao.GuestDAO">
	<insert id="guestWrite" parameterType="map">
		insert into guest_join (
			id
			,court_booking_idx
			,team_idx
			,guest_position
			,guest_level
			,guest_gender
			,guest_to
			,guest_info
			,guest_fee
			,guest_state
		)values(
				#{id}
				,#{court_booking_idx}
				,#{team_idx}
				,#{guest_position}
				,#{guest_level}
				,#{guest_gender}
				,#{guest_to}
				,#{guest_info}
				,#{guest_fee}
				,#{guest_state}
			);
	</insert>
	
	<select id="courtList" resultType="com.back.guest.dto.GuestDTO">
		SELECT
			court_idx,
			booking_date,
			booking_start_time,
			booking_end_time
		FROM court_booking WHERE id = 'admin'
	</select>
</mapper>


























