<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.back.guest.dao.GuestDAO">
	<insert id="guestWrite" parameterType="map">
		insert into guest_join (
			id
			,court_booking_idx
			,team_idx
			,guest_position
			,guest_level
			,guest_gender
			,guest_to
			,guest_info
			,guest_fee
			,guest_state
		)values(
				#{id}
				,#{court_booking_idx}
				,#{team_idx}
				,#{guest_position}
				,#{guest_level}
				,#{guest_gender}
				,#{guest_to}
				,#{guest_info}
				,#{guest_fee}
				,#{guest_state}
			);
	</insert>
	
	<select id="courtList" resultType="com.back.guest.dto.GuestDTO">
		SELECT cb.court_booking_idx, c.court_name, c.court_address, 
		CONCAT(cb.booking_date, '/', cb.booking_start_time, '~', cb.booking_end_time) AS bookingDate
		FROM court_booking cb JOIN court c ON cb.court_idx = c.court_idx WHERE id = #{param1}
	</select>
	
	<select id="callmyteam" resultType="int">
		SELECT team_idx from team where id = #{param1} limit 1; 
	</select>
</mapper>


























